<p>Super Rentals Representatives would love to help you choose a destination or answer any burning questions you may have.</p>

<p>Contact us today!</p>

<p>
  Super Rentals Headquarters<br>
  Ngong lane Plaza 1st Floor
  Ngong road, Past Prestige plaza first junction on your left <br>
</p>

<p>+254710902541</p>

<p>vincentmuya13@gmail.com</p>
{{#link-to 'about'}}About{{/link-to}}
